extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/register', method='get')
    input(type='submit',value='Go for Register')
  br
  br
  form(action='/login_user', method='get')
    input(type='submit',value='Go for Login')
  br
  br
  form(action='/logout_user', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit',value='Go for LogOut')