//Created by karan on 27-Feb-15.

h2 login user
form(action='/userLogin', method='post')
   | email :
   input(type='text', name='email')
   br
   | password :
   input(type='text', name='password')
   br
   | device_type :
   input(type='text', name='device_type')
   br
   | device_token :
   input(type='text', name='device_token')
   br
   | app_version :
   input(type='text', name='app_version')
   br
   input(type='submit',value='submit')
   br
