h2 Registaion Here
form(action='/register_user', method='post')
    | first_name :
    input(type='text', name='first_name')
    br
    | last_name :
    input(type='text', name='last_name')
    br
    | email :
    input(type='text', name='email')
    br
    | password :
    input(type='text', name='password')
    br
    | device_type :
    input(type='text', name='device_type')
    br
    | device_token :
    input(type='text', name='device_token')
    br
    | app_version :
    input(type='text', name='app_version')
    br
    input(type='submit',value='submit')
    br
